{% extends "base.html" %}

{% block content %}

<h1 class="title">
  ADICIONAR
</h1>
<form method="POST" action="">
  <label for="pessoas">Convidado:</label>
  <select name="pessoas" id="pessoas">
    <option value="ale">Alexandre Lele</option>
    <option value="aloadir">Aloadir</option>
    <option value="analima">Ana Lima</option>
    <option value="dedi">André Dedi</option>
    <option value="bia">Bia</option>
    <option value="cica">Ciça</option>
    <option value="emy">Emy</option>
    <option value="hindi">Felipe Hindi</option>
    <option value="shimada">Guilherme Shimada</option>
    <option value="iann">Iann</option>
    <option value="iuri">Iuri</option>
    <option value="jessica">Jéssica</option>
    <option value="leodallacosta">Leonardo Dalla Costa</option>
    <option value="teti">Leonardo Teti</option>
    <option value="pereira">Lucas Pereira</option>
    <option value="luigi">Luigi</option>
    <option value="maga">Magali</option>
    <option value="marco">Marco</option>
    <option value="nath">Nath</option>
    <option value="tavinho">Octávio Tavinho</option>
    <option value="plinio">Plínio</option>
    <option value="rosa">Rafael Rosa</option>
    <option value="jeremias">Ricardo Jeremias</option>
    <option value="ricardo">Ricardo Vianna</option>
    <option value="stefani">Stefani</option>
    <option value="tata">Thaís Tata</option>
    <option value="liico">Thales Liico</option>
    <option value="thinos">Thomas</option>
    <option value="vagner">Vagner</option>
    <option value="pascotto">Vinícius Pascotto</option>
  </select>
  <br>
  <label for="alignment">Tendência:</label>
  <select name="alignment" id="alignment">
    <option value="lb">Leal e Bom</option>
    <option value="nb">Neutro e Bom</option>
    <option value="cb">Caótico e Bom</option>
    <option value="ln">Leal e neutro</option>
    <option value="n">Neutro</option>
    <option value="cn">Caótico e Neutro</option>
    <option value="lm">Leal e Mau</option>
    <option value="nm">Neutro e Mau</option>
    <option value="cm">Caótico e Mau</option>
  </select>
  <br>
  <label>Personagem</label>
  <input name="character">
  <br>
  <input type="submit" value="Enviar">
  </form>
{% endblock %}