{% extends "base.html" %}

{% block content %}

<h1 class="title">
  ADICIONAR
</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
     <div class="notification is-danger">
        {{ messages[0] }}
     </div>
{% endif %}
{% endwith %}
<form method="POST" action="">
  <label for="pessoas">Convidado:</label>
  <select name="pessoas" id="pessoas">
  {% for guest in guests %}
    {% if guest.username != user%}
  <option value="{{guest.username}}">{{guest.name}}</option>
    {% else %}
      {{pass}}
    {% endif %}
  {% endfor %}
  </select>
  <br>
  <label for="alignment">Tendência:</label>
  <select name="alignment" id="alignment">
    <option value="lb">Leal e Bom</option>
    <option value="nb">Neutro e Bom</option>
    <option value="cb">Caótico e Bom</option>
    <option value="ln">Leal e neutro</option>
    <option value="n">Neutro</option>
    <option value="cn">Caótico e Neutro</option>
    <option value="lm">Leal e Mau</option>
    <option value="nm">Neutro e Mau</option>
    <option value="cm">Caótico e Mau</option>
  </select>
  <br>
  <label>Personagem</label>
  <input name="character">
  <br>
  <input type="submit" value="Enviar">
  </form>
{% endblock %}