{% extends "base.html" %}

{% block content %}

<h1 class="title">
  EDITAR {{guess}}
</h1>

<form method="POST" action="">
  <label for="alignment">Tendência:</label>
  <select name="alignment" id="alignment">
    <option value="lb">Leal e Bom</option>
    <option value="nb">Neutro e Bom</option>
    <option value="cb">Caótico e Bom</option>
    <option value="ln">Leal e neutro</option>
    <option value="n">Neutro</option>
    <option value="cn">Caótico e Neutro</option>
    <option value="lm">Leal e Mau</option>
    <option value="nm">Neutro e Mau</option>
    <option value="cm">Caótico e Mau</option>
  </select>
  <br>
  <label>Personagem</label>
  <input name="character">
  <br>
  <input type="submit" value="Enviar"> <a href="{{url_for('profile_page')}}">Cancelar</a>
  </form>
{% endblock %}